<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <form method="post" action="{{public_address}}/food-collections/organisations/add">

      <div class="row">
        {{>food-collections/organisations/add}}
      </div>

      <div class="row mt-4">
        <button type="submit" class="btn btn-success btn-block btn-lg">Add Organisation</button>
      </div>

    </form>
  </div>
</div>
