

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <form method="post" action="{{public_address}}/volunteers/invite">
      <input type="text" name="name" class="form-control mb-2" placeholder="Fullname" />
      <input type="text" name="email" class="form-control" placeholder="Email Address" />
      <button class="btn btn-success btn-block mt-2">Send Invite Link</button>
    </form>
  </div>
</div>
