<table
  id="floatsTable"
  class="fadeIn table-light d-none"
  data-icons-prefix="fas"
  {data-pagination="false"
  data-toggle="table"
  data-export-data-type="all"
  data-striped="true"
  data-show-export="true"
  data-export-options='{
     "fileName": "{{till.name}} Floats"
   }'
>
  <thead>
    <tr>
      <th data-field="timestamp">Timestamp</th>
      <th data-field="user">User</th>
      <th data-field="action">Action</th>
      <th data-field="summary">Summary</th>
      <th data-field="discrepancy">Discrepancy</th>
      <th data-field="note" data-width="15%">Note</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>