<table id="giftcardSalesTable" class="fadeIn table-light d-none" data-icons-prefix="fas" data-pagination="false" data-toggle="table" data-export-data-type="all" data-striped="true" data-show-export="true" data-export-options='{
     "fileName": "{{till.name}} Giftcard Sales"
   }'>
    <thead>
        <tr>
          <th data-field="transaction_id">Transaction ID</th>
          <th data-field="date">Date</th>
          <th data-field="value">Amount</th>
          <th data-field="member">Purchased By</th>
        </tr>
    </thead>

  <tbody>
  </tbody>
</table>
