<div class="row">
  <div class="col-md-12">
    <div id="transactionsNote" class="alert alert-info d-none p-4" role="alert">
      <span class="badge badge-pill badge-info mr-2">Info</span><b>Please note that refunds and
        failed card transactions have been redacted.</b>
    </div>
  </div>
</div>
<table
  id="transactionsTable"
  class="fadeIn table-light d-none"
  data-icons-prefix="fas"
  data-pagination="false"
  data-toggle="table"
  data-export-data-type="all"
  data-striped="true"
  data-show-export="true"
  data-export-options='{
     "fileName": "{{till.name}} Transactions"
   }'
>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="4">Total Spent</th>
    </tr>
    <tr>
      <th data-field="transaction_id">Transaction ID</th>
      <th data-field="sumup_id">SumUp ID</th>
      <th data-field="date">Timestamp</th>
      <th data-field="customer.name">Customer</th>
      <th data-field="bill">Summary</th>
      <th data-field="comment">Comment</th>
      <th scope="col" data-field="totals.tokens">Tokens</th>
      <th scope="col" data-field="totals.giftcardPlain">Giftcard</th>
      <th scope="col" data-field="totals.cash">Cash</th>
      <th scope="col" data-field="totals.card">Card</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>