<div class="row">
  <div class="col-md-12">
    <div id="unitSalesNote" class="alert alert-info d-none p-4" role="alert">
      <span class="badge badge-pill badge-info mr-2">Info</span><b>Please note that "Estimated Revenue" includes tokens and giftcard credit.</b> Tokens are automatically split over an entire transaction so can't be attributed to a single item.
    </div>
  </div>
</div>

<table id="unitSalesTable" class="fadeIn table-light d-none" data-icons-prefix="fas" {data-pagination="false" data-toggle="table" data-export-data-type="all" data-striped="true" data-show-export="true" data-export-options='{
     "fileName": "{{till.name}} Unit Sales"
   }'   data-sort-name="salesInfo.totalSales" data-sort-order="desc">
    <thead>

        <tr>
          <th colspan="2">Category</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>

          <th scope="col" data-field="categoryInfo.groupName" data-sortable="true">Working Group</th>
          <th scope="col" data-field="categoryInfo.name" data-sortable="true">Name</th>
          <th data-field="salesInfo.totalSales" data-sortable="true">Units Sold</th>
          <th data-field="salesInfo.totalRevenue" data-sortable="true">Estimated Revenue (£)</th>
          <th data-field="salesInfo.memberRatio" data-sortable="true">Bought By Members (%)</th>

        </tr>

    </thead>

  <tbody>
  </tbody>
</table>
