<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row">
	<h1>Members</h1>
</div>

<div class="row">
	<h3>{{working_group.name}}</h3>
</div>

{{#ifGreaterThan user.working_groups.length 1}}
<div class="row">
  <div class="form-group form-inline">
    <select class="form-control" id="working_groups">
      <option disabled selected>Select a working group...</option>
        {{#each user.working_groups}}
          <option value='{{id}}'>{{name}}
            {{#if sub_groups}}
              (General)
            {{/if}}
          </option>
        {{/each}}
    </select>
  </div>
</div>
{{/ifGreaterThan}}


<div class="row">
	<h2>Join Requests</h2>
</div>

<div id="join_requests_info" class="row"></div>

<div class="row">
	<table id="join_requests" class="fadeIn" data-pagination="true" data-search="true" data-toggle="table" data-striped="true" data-url="/api/get/working-groups/join-requests/{{working_group.id}}">
		<thead>
			<th data-sortable="true" data-field="name">Name</th>
			<th data-sortable="true" data-field="date">Date</th>
			<th data-sortable="true" data-field="options">Action</th>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script>
function joinRequestsAjax(url){
   $.ajax({
      type: "GET",
      url: url,
      success: function(response){
      	console.log(response);
      	if(response.status == "ok"){
        	$("#join_requests_info").html('<div class="alert alert-success col-md-6" onclick="dismiss(\'#join_requests_info\')">' + response.msg + '</div>');
			$("#join_requests").bootstrapTable('refresh');
      	} else {
      		$("#join_requests_info").html('<div class="alert alert-danger col-md-6" onclick="dismiss(\'#join_requests_info\')">' + response.msg + '</div>');
      	}
      }
   });
}

$('#working_groups').on('change', function () {
  var url = "/working-groups/review-join-requests/" + $(this).val();
  window.location = url;
});

</script>