<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />

<div class="row m-4">
  <div class="col-md-6 mx-auto">


    <form method="post" action="{{public_address}}/volunteers/roles/add" class="form-group" autocomplete="off">

      {{>volunteers/roles/add}}

      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <button type="submit" class="btn btn-success btn-block btn-lg form-control">Add Role</button>
        </div>
      </div>

    </form>
  </div>
</div>
