<center>
	<h2>Close Till</h2>
	<hr />
	<h3>{{till.name}}</h3>
</center>

<br />

<form action="/till/close/{{till.till_id}}" method="post">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p>Expected Float: £{{expected_float}}</p>
			<p><b>Counted Float</b></p>
			<div class="input-group">
				<span class="input-group-addon">£</span>
				<input class="form-inline form-control" type="text" placeholder="0.00" name="counted_float" />
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<textarea name="note" placeholder="Note (optional)" class="form-control"></textarea>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<input type="submit" class="form-control btn btn-primary" value="Close Till">
		</div>
	</div>
</form>