<div class="row">
	<h1>{{title}}</h1>
</div>

<div class="row">
	<input type="hidden" id="member_id" value="{{member.id.text}}" />

	<br />

	<div id="transaction_info" class="row hidden"></div>

	<div id="memberOptions">
		<div class="row">
		  <div class="col-md-4">
		    <div class="form-group">
		      	<input type="text" class="form-control" id="memberInput" oninput="searchMember()" value="" placeholder="Member's name">
		    </div>
		  </div>
		</div>
		<div class="row" id="searchResults">

		</div>
	</div>


	<div class="row hidden" id="donationInput">

		<div class="col-md-5">
			<div class="col-xs-8">
				<div class="form-group form-inline">
					<input type="number" class="input-lg form-control" oninput="updateTokens(this)" step=1 min=1 max=50 value="1" />
					<a class="btn btn-success btn-lg" onclick="processDonation()">Add Tokens</a>
				</div>
			</div>
		</div>
	</div>


</div>

<script>

var results = [];
var member = {};
var tokens = 0;

function updateTokens(e){
	tokens = e.value;
}

function searchMember(){
  $.ajax({
      type: "POST",
      url: "/api/post/members/search/simple",
      data: { 
          'term': $('#memberInput').val()
      },    
      success: function(response){

        if(response.status == "ok"){
        	results = response.results;
          	updateSearchResults();
        }

      }
  });
}

function updateSearchResults(){
	member = {};
	$("#searchResults").html("");
	for(let i=0;i<results.length;i++){
		if(results[i].is_member){
			$("#searchResults").html($("#searchResults").html() + "<div class='col-md-4 member-result'>" +
				"<p><b>" + results[i].name + "</b></p>" +
				"<p>" + results[i].balance + " tokens</p>" +
				"<p>Membership expires: " + new Date(results[i].membership_expires).toLocaleDateString() + "<p>" +
				"<a class='btn btn-primary' onclick='selectMember(" + i + ")'>Select Member</a>" +
				"</div>")
		} else {
			$("#searchResults").html($("#searchResults").html() + "<div class='col-md-4 member-result'>" +
				"<p><b>" + results[i].name + "</b></p>" +
				"<p>Membership expired!<p>" +
				"<a class='btn btn-primary' onclick='selectMember(" + i + ")'>Select Member</a>" +
				"</div>")			
		}
	}
}



function selectMember(index){
	member = results[index];

	if(member.is_member){
		$("#searchResults").html("<div class='col-md-4 member-result member-selected'>" +
			"<p><b>" + member.name + "</b></p>" +
			"<p>" + member.balance + " tokens</p>" +
			"<p>Membership expires: " + new Date(member.membership_expires).toLocaleDateString() + "<p>" +
			"</div>")
		$("#donationInput").removeClass("hidden")
	} else {
		$("#searchResults").html("<div class='col-md-4 member-result member-selected expired'>" +
			"<p><b>" + member.name + "</b></p>" +
			"<p>" + member.balance + " tokens (unavailable)</p>" +
			"<p>Membership expired!" +
			"</div>")
		member.balance = 0;
	}

}

function processDonation(type){
	let member_id = member.id || null;
    $.ajax({
        type: "POST",
        url: "/till/process-donation",
        data: {
        	'member_id': member.id,
        	'till_id': "{{till.till_id}}",
        	'tokens': tokens
        },    
        success: function(response){
        	console.log(response);
        	if(response.status == "ok"){

	            $("#transaction_info").removeClass("hidden");
	            $("#transaction_info").css("display", "block")
	            $("#transaction_info").html('<div class="alert alert-success col-md-6" onclick="dismiss(\'#transaction_info\')">' + response.msg + '</div>');

	        } else {
	        	$("#transaction_info").removeClass("hidden")
	        	$("#transaction_info").html('<div class="alert alert-danger col-md-6" onclick="dismiss(\'#transaction_info\')">' + response.msg + '</div>');
	        }  
        }
    });
}

</script>
