<center>
	<h2>Open Till</h2>
	<hr />
	<h3>{{till.name}} - {{working_group.name}}</h3>
</center>

<br />

<form action="/till/open/{{till.till_id}}" method="post">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p><b>Opening Float</b></p>
			<div class="input-group">
				<span class="input-group-addon">£</span>
				<input class="form-inline form-control" type="text" placeholder="0.00" name="counted_float" />
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<input type="submit" class="form-control btn btn-primary" value="Open Till">
		</div>
	</div>
</form>