<form method="post" action="{{public_address}}/users/add" class="form-group">

  {{>users/add addingUser='true'}}

  {{>users/notification-preferences}}

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <button type="submit" class="btn btn-success btn-block btn-lg form-control">Add User</button>
  </div>
</div>

</form>
