<div class="container auth-container">
  <p>Please click the button below to authenticate with SumUp.</p>
  <form action="{{public_address}}/settings/sumup-auth/auth" method="GET">
    <button type="submit" class="btn btn-primary btn-block btn-lg">Authenticate with SumUp</button>
  </form>
</div>
