

  <table id="availabilityTable" class="table">
    <tr>
      <td></td>
      <td>Morning</td>
      <td>Afternoon</td>
      <td>Evening</td>
    </tr>
    <tr>
      <td>Monday</td>
      <td>
        <input type="checkbox" name="availability[mon_m]" {{#if availability.mon_m}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[mon_a]" {{#if availability.mon_a}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[mon_e]" {{#if availability.mon_e}}checked{{/if}} />
      </td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>
        <input type="checkbox" name="availability[tue_m]" {{#if availability.tue_m}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[tue_a]" {{#if availability.tue_a}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[tue_e]" {{#if availability.tue_e}}checked{{/if}} />
      </td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>
        <input type="checkbox" name="availability[wed_m]" {{#if availability.wed_m}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[wed_a]" {{#if availability.wed_a}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[wed_e]" {{#if availability.wed_e}}checked{{/if}} />
      </td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>
        <input type="checkbox" name="availability[thu_m]" {{#if availability.thu_m}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[thu_a]" {{#if availability.thu_a}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[thu_e]" {{#if availability.thu_e}}checked{{/if}} />
      </td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>
        <input type="checkbox" name="availability[fri_m]" {{#if availability.fri_m}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[fri_a]" {{#if availability.fri_a}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[fri_e]" {{#if availability.fri_e}}checked{{/if}} />
      </td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td>
        <input type="checkbox" name="availability[sat_m]" {{#if availability.sat_m}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[sat_a]" {{#if availability.sat_a}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[sat_e]" {{#if availability.sat_e}}checked{{/if}} />
      </td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>
        <input type="checkbox" name="availability[sun_m]" {{#if availability.sun_m}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[sun_a]" {{#if availability.sun_a}}checked{{/if}} />
      </td>
      <td>
        <input type="checkbox" name="availability[sun_e]" {{#if availability.sun_e}}checked{{/if}} />
      </td>
    </tr>
  </table>
