

    <tr class="p-2">
      <td class="p-3"></td>
      <td class="p-3 text-center"><b>Morning</b></td>
      <td class="p-3 text-center"><b>Afternoon</td>
      <td class="p-3 text-center"><b>Evening</td>
    </tr>
    <tr class="p-2">
      <td class="p-3"><b>Monday</b></td>
      <td class="p-3 text-center">
        {{#if availability.mon_m}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.mon_a}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.mon_e}}✔️{{/if}}
      </td>
    </tr>
    <tr class="p-2">
      <td class="p-3"><b>Tuesday</b></td>
      <td class="p-3 text-center">
        {{#if availability.tue_m}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.tue_a}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.tue_e}}✔️{{/if}}
      </td>
    </tr>
    <tr class="p-2">
      <td class="p-3"><b>Wednesday</b></td>
      <td class="p-3 text-center">
        {{#if availability.wed_m}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.wed_a}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.wed_e}}✔️{{/if}}
      </td>
    </tr>
    <tr class="p-2">
      <td class="p-3"><b>Thursday</b></td>
      <td class="p-3 text-center">
        {{#if availability.thu_m}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.thu_a}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.thu_e}}✔️{{/if}}
      </td>
    </tr>
    <tr class="p-2">
      <td class="p-3"><b>Friday</b></td>
      <td class="p-3 text-center">
        {{#if availability.fri_m}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.fri_a}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.fri_e}}✔️{{/if}}
      </td>
    </tr>
    <tr class="p-2">
      <td class="p-3"><b>Saturday</b></td>
      <td class="p-3 text-center">
        {{#if availability.sat_m}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.sat_a}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.sat_e}}✔️{{/if}}
      </td>
    </tr>
    <tr class="p-2">
      <td class="p-3"><b>Sunday</b></td>
      <td class="p-3 text-center">
        {{#if availability.sun_m}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.sun_a}}✔️{{/if}}
      </td>
      <td class="p-3 text-center">
        {{#if availability.sun_e}}✔️{{/if}}
      </td>
    </tr>
