<h1>Uh-oh!</h1>
{{#if notFound}}
	<h3>The page you were looking for doesn't exist :'(</h3>
	<a onclick="window.history.back()" href="#"><h4>Go back</h4></a>
{{else}}
	<h3>Something went wrong while processing your request.</h3>
	<h4>Please try again</h4>
{{/if}}