<div class="row">
  <h1>Log Volunteer Hours</h1>
</div>

<br />

{{#if user}}
<div class="row hidden">
  <div class="g-recaptcha" data-sitekey="6Le9vEUUAAAAAItUqpLpm2tNEl2rsTqqnbRK5_L1"></div>
</div>
{{else}}
<div class="row">
	<div class="g-recaptcha" data-sitekey="6Le9vEUUAAAAAItUqpLpm2tNEl2rsTqqnbRK5_L1"></div>
</div>
{{/if}}

<br />

<div class="row">

  <div class="col-lg-5 nopadding">
    <div id="hours_logged_info" class="row"></div>
    <h3>Log A Shift!</h3>
    <p>Search for your membership</p>
    <div class="form-group">
      <input type="text" id="memberInput" class="form-control" placeholder="Name" oninput="search()" />
    </div>

    <div class="row">
      <div class='col-lg-offset-1'>
        <div id="searchOutput"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-lg-offset-1">

    <div class="row">
      <div id="add_by_mail_info" class="row"></div>
      <h3>Need help logging your hours?</h3>
      <p>Please get in touch with <a href="/support">support</a> :)</p>
    </div>

    <div class="row hidden-xs hidden-sm hidden-md fadeIn">
      <div class="stats-wrapper">
        <h3>This Month:</h3>
        <p><span id="total_hours_volunteered_this_month">0</span> hour(s) volunteered</p>
        <p><span id="new_volunteers">0</span> member(s) volunteered for the first time</p>
        <hr />
        <p><b><span id="total_volunteers">0</span> total volunteers</b></p>
        <h3>You're all wonderful - thank you!</h3>
      </div>
    </div>

  </div>

</div>


<script>
function search(){
  $.ajax({
      type: "POST",
      url: "/members/search",
      data: { 
          'term': $('#memberInput').val()
      },    
      success: function(response){

        if(response.status == "ok"){
          updateSearchOutput(response.results);
        } else {
          $('#searchOutput').html("Something went wrong!");
        }  
      }
  });
}

function updateSearchOutput(results){
  $('#searchOutput').html("<br />");

  if(results.length == 0) {
    $('#searchOutput').html($('#searchOutput').html() + "<div class='member-result'>" +
      "<p class='text-center'>Nothing found :'(" +
      "</div>");
  } else {
    for(i=0;i<results.length;i++){

    	var workingGroupSelectMarkup =  '<select id="working_group_select_' + results[i].id + '" class="form-control">'+
    										'<option>Select a working group...</option>';
    	for(j=0;j<results[i].working_groups.length;j++){
			workingGroupSelectMarkup += "<option value='" + results[i].working_groups[j].id + "'>" + results[i].working_groups[j].name + "</option>";
    	}
		
    	workingGroupSelectMarkup += '</select>';
      var logHoursBtn = "<a class='btn btn-primary' onclick='logHours(" + results[i].id +  ")'>Log Hours</a>"
    	if(results[i].working_groups.length > 0){
	      	var shiftLogger =   '<div class="row">' +
		      						'<div class="col-lg-8 col-lg-offset-2">' +
		      							workingGroupSelectMarkup +
		      						'</div>' +
		      					'</div>' +
		      					'<br />' +
		      					'<div class="row">' +
		                          '<div class="col-lg-6">' +
		                            '<label>Duration</label>' +
		                            '<input type="range" id="duration_' + results[i].id + '" oninput="updateDuration(' + results[i].id + ')" name="duration" min="0.25" max="24" step="0.25" value="0" />' +
		                          '</div>' +
		                          '<div class="col-lg-6">' +
		                            '<p><b><span id="duration_' + results[i].id + '_value">0</span> hour(s)</b></p>' +
		                          '</div>' +                          
		                        '</div>'  + 
                            "<br />" +       
                          "<center>" +
                            logHoursBtn +
                          "</center>" 
    	} else {
    		var shiftLogger = '<div class="row">' +
		      						'<div class="col-lg-8 col-lg-offset-2">' +
		      							'<p>Not a member of any working groups!</p>' +
		      						'</div>' +
		      					'</div>'
    	}



      
      $('#searchOutput').html($('#searchOutput').html() + 
        "<div class='member-result text-center'>" +
          "<p><b>" + 
            results[i].name + 
          "</p></b>" +

          "<p>" + 
            results[i].email + 
          "</p>" +
          "<hr />" +
          shiftLogger +
        "</div>"
      );

      if((i + 1) != results.length){
        $('#searchOutput').html($('#searchOutput').html() + "<hr />")
      }

      var found = false;
    }
  }
}

function updateDuration(member){
  var duration = $("#duration_" + member).val()
  $("#duration_" + member + "_value").html(duration);
}

$('#working_groups').on('change', function () {
  var url = "/working-groups/log-volunteer-hours/" + $(this).val();
  window.location = url;
});

function logHours(member_id){
  var duration = $("#duration_" + member_id).val();
  var working_group = $("#working_group_select_" + member_id).val();
  console.log(working_group);
   $.ajax({
      type: "POST",
      url: "/working-groups/log-volunteer-hours",
      data: {
        shift: {
          member_id: member_id,
          duration: duration,
          working_group: working_group
        },
        recaptcha: grecaptcha.getResponse()
      },
      success: function(response){
        if(response.status == "ok"){
          $("#hours_logged_info").html('<div class="alert alert-success" onclick="dismiss(\'#hours_logged_info\')">' + response.msg + '</div>');
          search();
        } else {
          $("#hours_logged_info").html('<div class="alert alert-danger" onclick="dismiss(\'#hours_logged_info\')">' + response.msg + '</div>');
        }
      }
   });
}

$(document).ready(function(){
  getStat('/reports/analytics/total-hours-volunteered-this-month', '#total_hours_volunteered_this_month')
  getStat('/reports/analytics/new-volunteers-this-month', '#new_volunteers')
  getStat('/reports/analytics/total-volunteers', '#total_volunteers')
})

</script>