<div class="row mt-5 mb-5">
	<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
			<div class="card">
					<div class="card-body">
						<center>
							<h2>Login</h2>
						</center>
						<hr />
						<form action="{{public_address}}/login" method="post">
						    <div class="form-group">
						    	<input type="text" class="form-control" name="username" placeholder="Email or Username">
						  	</div>
						  	<div class="form-group">
						    	<input type="password" class="form-control" name="password" placeholder="Password">
						  	</div>
						  	<div class="form-group">
						  	   <button class="btn btn-block btn-primary" type="submit">Login</button>
							 </div>
						</form>

						{{#if settings.passwordReset}}
							<p>
								<a href="/recover">Forgot your password?</a>
							</p>
						{{/if}}
					</div>
			</div>
	</div>
</div>



                  <ul><li>
                  <p class="mt-2">As a member of SHRUB you're now part of our community, have an equal voice in the co-op and the right to take part in decision making!</p>
            <p class="mt-2 mb-1">You also get:</p>
            <p>


            </p><ul><li>Access to swap at the swapshop!</li><li>Use of the freeshop!</li><li>Use of the food sharing hub!</li><li>Discounts at paid events and workshops!</li><li>Discount on bike parts at the Wee Spoke Hub!</li><li>Discounted booking of our lovely spaces for personal use!</li><li>Come to our members parties!</li></ul>
              </li></ul>
              
