<center>
	<h2>Login</h2>
</center>
<hr />
<form action="/login" method="post">
    <div class="form-group">
    	<input type="text" class="form-control" name="username" placeholder="Username or Email">
  	</div>
  	<div class="form-group">
    	<input type="password" class="form-control" name="password" placeholder="Password">
  	</div>
  	<div class="form-group">
  	   <button class="btn-block btn-shrub" type="submit">Login</button>
	 </div>
</form>

{{#if settings.password_reset}}
	<p>
		<a href="/recover">Forgot your password?</a>
	</p>
{{/if}}

