<div class="row mt-4">
  <div class="container">
    <div class="card px-4">
      <div class="card-body">
        <br />
        <h1 class="text-center">Privacy Notice</h1>
        <br />
        <br />
        {{{privacyNotice.markup}}}
      </div>
    </div>
  </div>
</div>