<h1>Privacy Policy</h1>

<div class="col-lg-6">
	<div class="row">
		<h2>Information we store</h2>
		<p>We store the following information about our members:</p>
		<ul>
			<li>Personal details</li>
				<ul>
					<li>Name</li>
					<li>Email address</li>
					<li>Phone number</li>
					<li>Postal address</li>
				</ul>
			<li>Membership details</li>
				<ul>
					<li>Type of membership (paid or free)</li>
					<li>Which working groups the member is a part of</li>
					<li>Date on which membership began</li>
					<li>Date on which current membership period began</li>
					<li>Date on which current membership period ends</li>

				</ul>
			<li>Volunteer details</li>
				<ul>
					<li>Volunteer status (how frequently the member volunteers, if at all)</li>
					<li>Date on which member first volunteered</li>
					<li>Date on which member last volunteered</li>
					<li>When volunteers are available</li>
					<li>Volunteer hours</li>
						<ul>
							<li>Date on which volunteering took place</li>
							<li>Number of hours volunteered</li>
							<li>Working group volunteered for</li>
						</ul>
				</ul>
			<li>Swapping</li>
				<ul>
					<li>Active swapper status</li>
					<li>Balance</li>
					<li>Transactions</li>
						<ul>
							<li>Date of transaction</li>
							<li>Total amount</li>
							<li>Sub-total of each item category</li>
							<li>Weight of the items you swapped (outgoing only)</li>
							<li>An optional comment</li>
						</ul>
				</ul>
		</ul>
	</div>
</div>

<div class="col-lg-6">
	<div class="row">
		<h2>How do we get this information?</h2>
		<p>This information is collected directly from the member themselves OR automatically by Murakami itself.</p>
	</div>
	<div class="row">
		<h2>What do we do with this information?</h2>
		<p>The information we store is used solely for the purpose of membership and is <b>never</b> shared with third-parties without your explicit consent.</p>
	</div>
	<div class="row">
		<h2>How long do we store this information?</h2>
		<p>As long as you are a current member, we will store your information. All personal information will be deleted 2 years after your membership expires. We will retain the hours you volunteered and your transaction history anonymously on an indefinite basis - this information will not be traceable back to you.</p>
	</div>

		<hr />
	<div class="row">
		<h2>
			<b>You're in control.</b>
		</h2>

		<p>If you would like any of your information altered or removed from Murakami, please <a href="/support" target="_blank">contact support</a>.</p>
	</div>
</div>