<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Success!</h4>
      <p>Aww yeah, the form was successfully submitted.</p>

      <p class="mb-0"><a href="{{public_address}}/login">Back to login page.</a></p>
    </div>
  </div>
</div>
