<div class="row">
	<h1>View/Export Data</h1>
</div>
<br />
<div class="row">
	<div class="form-group col-sm-4">
		<select id="data_selection" class="form-control">
			<option selected disabled>Select data to view/export...</option>
			<option value="members">Members</option>
			<option value="volunteer-hours">Volunteer Hours</option>
		</select>
	</div>
</div>

<script>
$('#data_selection').on('change', function () {
	console.log("triggered");

	var url = "/reports/export/" + $('#data_selection').val();
  	
    window.location = url;
});	
</script>