<form method="post" action="{{public_address}}/members/add{{#if till.till_id}}?till_id={{till.till_id}}{{/if}}" class="form-group" autocomplete="off">

  <div class="row mt-4 mb-4">
    <div class="col-lg-5 mx-auto">

      {{> members/add}}

      <div class="row">
        <div class="col-md-12">
          <input type="submit" class="btn btn-block btn-lg btn-success" value="Add Member">
        </div>
      </div>
    </div>
  </div>
</form>
